<!-- <h1>{{myvar}}</h1>


<button (click)="dosumthing()">click me</button> -->
<!-- <input type="text" [disabled]="is_disabled">
<button (click)="changestatus()">Click Enable</button> -->

<!-- <h1 *ngIf="show">Hellow There</h1> -->

<!-- <span *ngIf="color=='Red'; then ifblock else elseblock"></span>

<ng-template #ifblock>
    <h1 >I am from If</h1>
</ng-template>

<ng-template #elseblock>
    <h1>I am from else</h1>
</ng-template> -->

<!-- <div [ngSwitch]="color">
<h1 *ngSwitchCase="'red'">this is red color</h1>


<h1 *ngSwitchDefault>this is default</h1>
</div> -->

<!-- <div>
    <ul *ngFor="let color of color">
    <li>{{color}}</li>
    </ul>
</div> -->

<!-- <div *ngFor="let color of color">
<h1>{{color}}</h1></div> -->



<!-- <h1 [style.color]="singelcolor">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, deleniti sed ipsa dignissimos enim incidunt possimus ex accusantium aut ratione debitis officia. Impedit, maiores repellendus totam minus reiciendis est! Fugit!</h1> -->


<!-- <h1 [style.color]="color[4]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam neque porro eligendi repellat recusandae ut blanditiis nostrum explicabo eveniet ipsum hic quasi voluptatem, quam voluptatum! Voluptate sequi consequatur corporis quos.</h1> -->



<ngb-alert> This alert's type is success and it's not dismissible because the config has been customized </ngb-alert>